# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.1'

    - name: Install dependencies
      run: |
          go get .

    - name: Test
      run: go test -v ./...

    - name: Build for Linux AMD64
      run: |
        GOOS=linux GOARCH=amd64 go build -o appimage-installer-linux-amd64 -v .
        chmod +x appimage-installer-linux-amd64

    - name: Build for Linux ARM64
      run: |
        GOOS=linux GOARCH=arm64 go build -o appimage-installer-linux-arm64 -v .
        chmod +x appimage-installer-linux-arm64

    - name: Upload Linux AMD64 build
      uses: actions/upload-artifact@v4
      with:
        name: appimage-installer-linux-amd64
        path: appimage-installer-linux-amd64

    - name: Upload Linux ARM64 build
      uses: actions/upload-artifact@v4
      with:
        name: appimage-installer-linux-arm64
        path: appimage-installer-linux-arm64

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          appimage-installer-linux-amd64
          appimage-installer-linux-arm64
